html {
  background-color: black;
  display: contents;
}

body {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  border-radius: 30em 30em 30em 30em;
  border: 50px groove red;
  min-width: 80vw;
}

#author {
  display: inline-block;
  position: fixed;
  right: 70%;
  top: 60%;
  background-color: black;
  border: red 10px ridge;
  border-radius: 10rem 10rem 10rem 10rem;
}

#author:hover {
  background-color: red;
  display: inline-block;
  border: black 10px ridge;
}

#author-text {
  color: gold;
  background-color: blueviolet;
  border-bottom: 10px green ridge;
  border-top: 10px orange ridge;
  border-left: 10px red ridge;
  border-right: 10px ridge blue;
}

#author-text:hover {
  color: blueviolet;
  background-color: gold;
  border-bottom: 10px orange ridge;
  border-top: 10px green ridge;
  border-left: 10px blue ridge;
  border-right: 10px  red ridge;
}

#author-icon {
  background-color: gold;
  padding: 40px;
  margin: 20px 20px 20px 20px;
  color: rgba(162, 9, 239, 255);
  -webkit-border-radius: 40rem 40rem 40rem 40rem;
  -moz-border-radius: 40rem 40rem 40rem 40rem;
  -ms-border-radius: 40rem 40rem 40rem 40rem;
  -o-border-radius: 40rem 40rem 40rem 40rem;
  border-radius: 40rem 40rem 40rem 40rem;
}

#author-icon:hover {
  background-color: black;
}





div .flex.actions-wrapper {
  background-color: grey;
  color: aliceblue;
}


div {
  display: contents;
}



button {
  position: sticky;
  padding: 0%;
  margin: none;
  color: greenyellow;
  font-size: 36px;
  background-color: black;
  border: orange groove 0.2em;
  border-radius: 60em 60em 60em 60em;
}

button :hover {
  cursor: pointer;
  background-color: lawngreen;
  align-items: center;
  color: blueviolet;
}

h2#break-label:hover {
  cursor: none;
  border-color: gold;
  font-style: italic;
  color: yellow;
  background-color: black;
}

h2#break-label {
  border: 10px groove black;
  background-color: yellow;
}

h2#session-label {
  border: 10px groove black;
  background-color: yellow;
}

h2#session-label:hover {
  cursor: none;
  border-color: yellow;
  background-color: black;
  color: yellow;
  font-style: italic;
}


span#break-length {
  height: max-content;
  border: greenyellow ridge 10px;
  background-color: black;
}

span#session-length {
  font-size: 36px;
  background-color: black;
  z-index: 1;
  border: greenyellow ridge 10px;
}

span#time-left {
  color: gold;
  height: max-content;
  border-radius: 30em 30em 30em 30em;
  border: black 0.5em ridge;
  background-color: rgb(201, 18, 18);
}

span#break-length {
  height: max-content;
  font-size: 36px;
  background-color: black;
  border: greenyellow ridge 10px;
}

h1#timer-label {
  border: 10px groove black;
  background-color: yellow;
  display: block;
}

h1#timer-label:hover {
  cursor: none;
  border-color: yellow;
  font-style: italic;
  color: yellow;
  background-color: black;
}