{
"arrowParenthesis": "avoid",
"bracketSpacing": true,
"cursorOffset": -1,
"editorconfig": true,
"semi": true,
"embeddedLanguageFormatting": "auto",
"endOfLine": "crlf",
"filepath": "auto",
"htmlWhitespaceSensitivity": "css",
"jsxSingleQuote": false,
"parser.jsx": "babel",
"parser.tsx": "typescript",
"parser.json5": "json5",
"parser.ts": "babel-ts",
"parser.less": "less",
"parser.scss": "scss",
"parser.json": "json",
"parser.html": "html",
"parser.css": "css"
"${`fileType`}"": "true"
}
